/* Viewport */
body .editor-styles-wrapper {
    transition: all 0.3s ease-in-out;
}

/* Responsive control wrapper */
.digiblocks-responsive-control {
    margin-bottom: 24px;
}

.digiblocks-responsive-control-content {
    padding: 0;
}

.digiblocks-responsive-control-inner .components-base-control__label {
    display: none;
}

/* Responsive label wrap */
.digiblocks-responsive-label-wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Responsive device button */
.digiblocks-responsive-common-button {
    box-shadow: none !important;
    color: #50575e;
    border: 0;
    outline: 0;
    display: flex;
    height: auto;
    cursor: pointer;
    padding: 4px;
    margin: 0;
    line-height: 0;
}

.digiblocks-responsive-common-button:hover,
.digiblocks-responsive-common-button:focus,
.digiblocks-responsive-common-button:active {
    box-shadow: none;
    outline: none;
    color: #007cba;
}

.digiblocks-responsive-common-button svg {
    width: 0.6rem;
    height: 0.6rem;
    fill: currentColor;
}

/* Control label */
.digiblocks-control-label {
    color: #50575e;
    font-size: 13px;
    line-height: 1.4em;
    margin-bottom: 0;
    font-weight: 400;
}

/* Inherited value indicator for button groups */
.components-toggle-group-control.is-inherited .components-toggle-group-control-option-base[data-active-item="true"] {
    background-color: #ddd !important;
    color: #757575 !important;
    cursor: pointer;
}

.components-toggle-group-control.is-inherited .components-toggle-group-control-option-base[data-active-item="true"]:hover {
    background-color: #ccc !important;
}
