/* Row block */
.block-editor-block-list__block[data-type="digiblocks/row"] {
    position: relative;
    padding: 10px;
    display: flex;
    border: 1px dashed #ddd;
    justify-content: center;
    max-width: none !important;

    &.is-selected::before,
    &.has-child-selected::before {
        border: 1px dashed #ddd;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        z-index: 1;
    }

    .is-nested {
        width: auto;
    }
}

.digiblocks-row .block-list-appender {
    width: 100%;
}

/* Row inner blocks wrapper */
.digiblocks-row-inner {
    position: relative;
    width: 100%;
}
