@keyframes digiBlocksSlideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
.digi-animated.animate-slide-in-left {
    animation-name: digiBlocksSlideInLeft;
}
