@keyframes digiBlocksZoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.digi-animated.animate-zoom-in {
    animation-name: digiBlocksZoomIn;
}
